
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@model List<EnterpriseArchitecture.DTO.EEntity.EPostUserDTO>

@section styles{
    <style>
        .isDisabled {
            color: currentColor;
            cursor: not-allowed;
            opacity: 0.5;
            text-decoration: none;
        }

        .badge span {
            background-color: black;
            width: 60px;
            height: 25px;
            padding-bottom: 3px;
            border-radius: 5px;
            display: flex;
            color: white;
            justify-content: center;
            align-items: center
        }

        .circular-image-container {
            border-radius: 50%;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
        }
    </style>
}

<hr/>
<div class="container">
    <div class="row" style="margin-top: 60px;">
        @foreach (var item in Model)
        {
            <div class="col-lg-4" style="margin-bottom: 15px;">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon circular-image-container">
                                <img class="img-fluid img-circle " src="@item.UserImageURL/50/50" />
                            </div>

                            <div class="ms-2 c-details">
                                <h6 class="mb-0">@item.FullName</h6> <span>@item.Job</span>
                            </div>
                        </div>
                        <div class="badge"> <span>User</span> </div>
                    </div>
                    <div class="mt-3">
                        <h3 class="heading" style="font-size: 15px !important;">@item.Title<br>@item.ShortDescription</h3>
                        <div class="mt-3">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <div class="bottom" style="margin-top: 15px;">
                        <a href="/@EnterpriseArchitecture.Utilities.StringOperations.StringManager.ToSlug(item.CategoryName)/@item.Slug"><i class="fa fa-external-link pull-left"></i></a>
                        <a href="//facebook.com/sharer/sharer.php?u=@Request.Url@EnterpriseArchitecture.Utilities.StringOperations.StringManager.ToSlug(item.CategoryName)/@item.Slug" target="_blank"><i class="fa fa-facebook pull-right"></i></a>
                        <a href="#"><i class="fa fa-twitter pull-right"></i></a>
                        <a href="#">   <i class="fa fa-google-plus pull-right"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>